
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <div id="myCarousel" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"><h1>Welcome to  Vulcan</h1><p>By LiJun</p></div>
      <div class="item"> <p><h3>it is a distributed fetcher to crawler urls from web which given by log.</br>You can configure a group of  machines to do this job.<h3></p></div>
      <div class="item"><p><h3>Vulcan是一个分布式的网页爬取器。它可以从指定的日志中读取url，并从那儿开始获取url所对应的内容。您可以从这里开始配置这个工作集群。</h3></div>
    </div>
    <!-- Carousel nav -->

    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  <p><a href="/more" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>集群部署</h2>
    <p>Deply a machine as a member of the working group. play as a  fetcher. You can control it to start ,pause or delete it</br>配置工作集群。部署节点进行工作。并扮演抓取者的角色。在这里控制其开始，暂停，或者删除工作节点。 
    </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>监测</h2>
    <p>watch how the working group runing.and show the heath of them.<br/>观察集群的工作情况</br>查看每个工作节点的负载。</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>展示</h2>
    <p>to Search the resluts of the vulcan have been down here. you can get some detail of the url's content here</br>查看工作集群所采集到的内容</br>搜索url所对应content</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>
